---
interface Props {
  size?: string;
  padding?: string;
  lineWidth?: string;

  onClickA?: string;
  onClickB?: string;
  onClickC?: string;
  onClickD?: string;
  onClickE?: string;
  onClickF?: string;
  onClickG?: string;
}

const {
  size = "80vmin",
  padding = "1rem",
  lineWidth = "2px",
} = Astro.props;
---

<section
  class="grid-vertical-wrapper"
  style={`
    --gv-size: ${size};
    --gv-padding: ${padding};
    --gv-line-width: ${lineWidth};
  `}
>
  <div class="grid-vertical">
    <div class="cell a" data-cell="A" onclick={Astro.props.onClickA}><slot name="A" /></div>
    <div class="cell b" data-cell="B" onclick={Astro.props.onClickB}><slot name="B" /></div>
    <div class="cell c" data-cell="C" onclick={Astro.props.onClickC}><slot name="C" /></div>

    <div class="cell d" data-cell="D" onclick={Astro.props.onClickD}><slot name="D" /></div>
    <div class="cell e" data-cell="E" onclick={Astro.props.onClickE}><slot name="E" /></div>

    <div class="cell f" data-cell="F" onclick={Astro.props.onClickF}><slot name="F" /></div>
    <div class="cell g" data-cell="G" onclick={Astro.props.onClickG}><slot name="G" /></div>
  </div>
</section>

